@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Kumbh+Sans:wght@400;600;700;900&family=Montserrat:wght@200;400;500;600&display=swap");
@import url(variables.css);

* {
  border: 1px solid yellowgreen;
}

body {
  background-color: var(--mainColorDark);
  color: var(--offWhite);
}

.logo {
  font-family: var(--logoFont);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--headerFont);
}

p, ul, ol, li {
  font-family: var(--paragraphFont);
}

/* main stylesheet */

.hero-container {
  background: url(../img/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* cards */
#faq__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq__card {
  width: 150px;
  height: 180px;
  border-radius: 6px;    
  background: var(--darkGradient);
  padding: 10px;
}

.faq__icon {
  position: relative;
  background: var(--lightGradient);
  border-radius: 100px;
  width: 90px;
  height: 90px;
  padding: 16px;
  top: -40px;
  margin: 0 auto;
}

.faq__card__description {
  position: relative;
  text-align: center;
  top: -20px;
}

.faq__card__description h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}

.faq__card__description p {
  font-size: 14px;
  font-weight: thin;
}

#section__benefits {
  background: url(../img/benefits-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1200px;
}

#section__benefits__content {
  background-color: rgba(4, 37, 8, 0.5);
  backdrop-filter: blur(5px);
  padding: 3rem;
  border-radius: 20px;
}